.title {
    margin-bottom: 16px;
    width: 313px;
}
.title h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 56px;
    color: #ffffff;
    margin-bottom: 20px;
}

header {
    background: url('../image/header_img.png') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#ffffff;
}

header button {
    border: none;
    border-radius: 28px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}
.button-container button:hover {
    background-color: #4752c4;
}

header #download {
    background-color: #ffffff;
    color: #000000;
}

header #open-browser {
    background-color: #23272A;
    color: #ffffff;
}