main {
    background: #ffffff;
    margin: 0;
    padding: 60px 20px;
    display: block;
}

main section {
    background: transparent;
    display: block;
    padding: 0;
}

section img {
    width: auto;
    height: auto;
    margin-right: 0;
}
