@import url('reset.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('responsive.css');

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}